body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
}

.search-form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.music-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-items: center;
}

.thumb {
  width: 100px;
}

.track {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.download-btn,
.youtube-link {
  font-size: 14px;
  text-decoration: none;
}

.download-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #4CAF50;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}

.youtube-link {
  display: block;
  margin-top: 10px;
  color: blue;
}

.track h3 {
  margin: 0;
}

.download-btn:hover {
  background-color: #45a049;
}
