<!DOCTYPE html>
<html>
<head>
    <title>Music Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Music Downloader</h1>

    <div class="search-form">
        <form method="POST" action="/">
            <input type="text" name="search_query" placeholder="Enter your search query">
            <button type="submit">Search</button>
        </form>
    </div>
    
<div class="music-results">
        {% if music_result %}
            {% for track in music_result %}
                <h2>Music track:</h2>
                <pre>{{ track }}</pre>

                <div class="track">
                    <h3>{{ track }}</h3>
                    <a class="download-btn" href="{{ url_for('download', url=track) }}">Download</a>
                    <a class="youtube-link" href="{{ track }}" target="_blank">Watch on YouTube</a>
                </div>
            {% endfor %}
        {% else %}
            <h2>No music results found.</h2>
        {% endif %}
    </div>
</body>
</html>
    
