<!DOCTYPE html>
<html>
<head>
    <title>Response</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% if audio_url %}
        <div class="response-container">
            <h1 class="response-title">{{ message }}</h1>
            <img class="response-image" src="{{ thumbnail }}" alt="Thumbnail">
            <a href="{{ url_for('download_file', file=file) }}" class="response-download">Download Now</a>
        </div>
    {% else %}
        <h1>{{ message }}</h1>
    {% endif %}
</body>
</html>
